@import '../variables';

.triangle-up {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid $shape_color;
}

.triangle_up{
    width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid $shape_color;
}

.triangle_down {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid $shape_color;
}

.triangle_left {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 100px solid $shape_color;
	border-bottom: 50px solid transparent;
}

.triangle_right {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid $shape_color;
	border-bottom: 50px solid transparent;
}

.square {
    height: 100px;
    width: 100px;
    background-color: $shape_color;
}

.circle {
    height: 100px;
    width: 100px;
    background-color: $shape_color;
    border-radius: 50%;
}

.oval {
    height: 100px;
    width: 200px;
    background-color: $shape_color;
    border-radius: 50%;
}

.trapezoid {
	border-bottom: 100px solid $shape_color;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 125px;
}

.rectangle {
    height: 100px;
    width: 200px;
    background-color: $shape_color;
}

.parallelogram {
	width: 200px;
	height: 100px;
	transform: skew(20deg);
	background: $shape_color;
}